<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course detail</title>
    <link rel="icon" href="controllers/uploads/icons8-video-64.ico" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="/detail.css">
</head>

<body>
    <div class="main">
        <div class="head">
            <div class="logo" style="width:150px ; height:50px">shareXvideos</div>
            <% if(data.user) { %>
                <a href="/userLogin" class="home">Home Page</a>
                <% } else { %>
                    <a href="/" class="home">Home Page</a>
                    <% } %>
                        <div class="menu-topic">
                            <button class="btn-topic"> Topic</button>
                            <div class="drop-topic">
                                <a href="/topicIT">IT</a>
                                <a href="/topicMusic">Music</a>
                                <a href="/topicGame">Game</a>
                            </div>
                        </div>

                        <div>
                            <ul class="bell">
                                <% if(data.user) { %>
                                    <li><a href="/userProfile"><img src="<%= data.user.avatar%>" class="avatar" /></a>
                                        <article class="user-name">
                                            <%= data.user.username%>
                                        </article>
                                    </li>                                  
                                    <li class="signup"><button><a href="/logout">Logout</a></button></li>
                                <% } else { %>
                                    <li class="signin"><a href="/login">Signin</a></li>
                                    <li class="register"><a href="/register">Signup</a></li>
                                <% } %>
                            </ul>
                        </div>
        </div>
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-12 col-lg-6">
                <iframe width="700" height="350" src="<%= data.course_url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <% if(data.user) { %>
                    <% if(!liked) { %>
                        <div class="mt-2 "><button id="btn-like" class="btn btn-primary btn-sm ml-1 shadow-none" type="button"><a href="/likeCourse/<%=data.id%>">Like</a></button></div>
                    <% } else { %>
                        <div class="mt-2 "><button class="btn btn-primary btn-sm ml-1 shadow-none" type="button"> Liked </button></div>
                    <% } %>
                <% } %>
                <hr/>
                <% if(data.user) { %>
                    <form action="/postComment/<%= data.id%>" method="post">
                        <div class="d-flex flex-row align-items-start"><input class="form-control ml-1 shadow-none textarea" name="content"></div>
                        <div class="mt-2 text-right"><button id="post-comment" class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button></div>
                    </form>
                    
                    <hr/>
                    <% for(let i=0; i < comment.length; i++) { %>
                        <ul>
                            <li><a href="#"><img src="<%=comment[i].user[0].avatar%>"
                                        style="width: 40px; height: 40px" /></a>
                                <%=comment[i].user[0].username%> :
                                    <%=comment[i].content%>
                            </li>
                        </ul>
                    <% } %>
                <% } else { %>
                    <% for(let i=0; i < comment.length; i++) { %>
                        <ul>
                            <li><a href="#"><img src="<%=comment[i].user[0].avatar%>"
                                        style="width: 40px; height: 40px" /></a>
                                <%=comment[i].user[0].username%> :
                                    <%=comment[i].content%>
                            </li>
                        </ul>
                    <% } %>
                <% } %>
            </div>
            <div class="col-lg-6">

                <p> Video name : <%= data.course_name%></p>
                <p> Date : <%= data.course_date.toDateString()%> ||
                    <%= data.course_date.toLocaleTimeString()%></p>
                <p> Description : <%= data.course_des%></p>
                <p> Likes : <%= data.course_like%></p>
                
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</body>

</html>
<!-- <script type="text/javascript">
    $(function() {
        $('input[type="text"]').change(function() {
            this.value = $.trim(this.value);
        });
    });
    $(function() {
        $('#post-comment').click(function() {
            const content = $('input[name=content]').val()
            const course = `<%= data.id%>`
            const data = {
                course: course,
                content: content
            }

            $.ajax({
                type: 'POST',
                data: data,
                url: '/postComment',
                success: function(data) {
                    if (data == true) {
                        location.reload()
                    } else {
                        swal('Post Error !')
                    }
                }
            })
        })
    })
</script> -->