<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="controllers/uploads/icons8-video-64.ico" type="image/png">
    <title>Profile User</title>
</head>
<body>

    <div style="display: flex;">
        <div class="logo"> shareXvideos</div>

        <% if(data.user) { %>
            <a href="/userLogin">Home Page</a>
        <% } else { %>
            <a href="/">Home Page</a>
        <% } %>

        <ul>
            Topic
            <li><a href="/topicIT">IT</a></li>
            <li><a href="/topicMusic">Music</a></li>
            <li><a href="/topicGame">Game</a></li>
        </ul>

        
        <ul>
            <% if(data.user) { %>
                <li ><a href="/userProfile"><img src="<%= data.user.avatar%>" style="width: 40px; height: 40px"/></a><%= data.user.username%></li>
                <li class="signup"><a href="/logout">Logout</a></li>
                
            <% } else { %>
                <li class="signin"><a href="/login">Signin</a></li>
                <li class="signup"><a href="/register"><i class="fas fa-user"></i>Signup</a></li>
            <% } %>
        </ul>
    </div>

    <h1>Profile User</h1>
    <button><a href="/updateProfile">Update Profile</a></button>
    <% if(data.user) { %>
        <ul>
            <li>Avatar :</li>
            <img src="<%=data.avatar%>" alt="Avatar" style="width: 300px;height:auto ;">
            
            <li>Log name :</li>
            <%=data.log_name%>
            
            <li>Display name :</li>
            <%=data.username%>
            
            <li>Email :</li>
            <%=data.email%>
        </ul>
        <h3>List course liked</h3>
        <% for(var i=0; i < courseLike.length; i++) { %>      
            <li><button><a href="/deleteCourseLiked/<%=courseLike[i].course[0]._id%>">x</a></button><a href="/detail/<%=courseLike[i].course[0]._id%>"><%=courseLike[i].course[0].course_name%></a></li>
        <% } %>
    <% } else { %>
        
    <% } %>
</body>
</html>